{% comment %} Product card {% endcomment %}
{%- assign cart_icon = './assets/icon-shopping-cart.png' -%}


<div class="productCard" data-id="{{ product.id }}">
    <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{ product.featured_image.alt }}"/>


    {% assign category = product.title | split: "-"  %}

    {% assign productName = category[0] %}
    {% assign productColor = category[1] %}
    {% assign productSize = category[2] %}


    <div class="product-info">
        <div class="product-name bold">{{productName}}</div>
        <div class="product-price">{{product.price | money_with_currency }}</div>
        <div class="product-color-and-size">
            <div class="product-color">{{productColor}}</div>
            <div>–</div>
            <div class="product-size">{{productSize}}</div>
        </div>
        <div class="product-cart">
            <img src="{{cart_icon}}" alt="">
        </div>
    </div>
</div>
